{# filepath: templates/partials/footer.html.twig #}
<footer>
    <ul class="navbar-footer">
        <li>
            <p>A propos</p>
            <ul>
                <li><a href="Qui-sommes-nous.html">Qui sommes-nous ?</a></li><br>
                <li><a href="Notre-mission.html">Notre mission</a></li>
            </ul>
        </li>
        <li>
            <p>Liens utiles</p>
            <ul>
                <li><a href="page_recherche.php">Chercher une offre</a></li><br>
                <li><a href="faq.php">FAQ</a></li>
            </ul>
        </li>
        <li>
            <p>Mentions légales</p>
            <ul>
                <li><a href="privacy.php">Politique de confidentialité</a></li><br>
                <li><a href="utilisation.php">Politique d'utilisation</a></li><br>
            </ul>
        </li>
        <li>
            <p>Nous contacter</p>
            <ul>
                <li>
                    <a href="#link7">
                        <img src="assets/Linkedin.png">&nbsp;
                        <img src="assets/localisation.png">&nbsp;
                        <img src="assets/mail.png">
                    </a>
                </li><br>
                <li><a href="#link8">Devenir partenaire</a></li>
            </ul>
        </li>
    </ul>
    <hr class="footer-separator">
    <p class="footer-copyright">Copyright © 2025 Web4All. Tous droits réservés</p>
</footer>