<header class="header">
    <div class="logo">
        <a href="{{homePage}}"><img src="assets/logo.png" alt="logo"></a>
    </div>
    
    <form method="GET" action="/page_recherche.php" class="search-container">
        <input type="text" name="searchName" id="searchName" placeholder="Intitulé de poste, mots-clés..." value="{{ searchName|default('') }}">
        <div class="divider"></div>
        <input type="text" name="searchLocation" id="searchLocation" placeholder="Localisation" value="{{ searchLocation|default('') }}">
        <button type="submit" class="search-button">Rechercher</button>
    </form>

    <a href="deconnexion.php" class="deconnexion-button">Se déconnecter</a>
</header>