{# filepath: templates/partials/header.html.twig #}
<header class="header">
    <div class="logo">
        <img src="assets/logo.png" alt="logo">
    </div>
    
    <div class="search-container">
        <input type="text" placeholder="Intitulé de poste, mots-clés...">
        <div class="divider"></div>
        <input type="text" placeholder="Valenciennes (59) 50km">
    </div>

    <a href="page_recherche.php" class="search-button">Rechercher</a>
</header>