.candidatures {
    padding: 20px;
    width: 90%;
    margin: 0 auto;
    box-sizing: border-box;
}

.candidatures h2{
    text-align: center;
    background-color: #DBEAFE;
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 20px;
}

.candidatures-publiées{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}


.candidature-item {
    background-color: #EFF6FF;
    border-radius: 6px;
    padding: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.candidature-item p {
    margin: 5px 0;
}

.candidature-actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.company-logo {
    height: auto;
    border-radius: 4px;
}

.modifier {
    background-color: orange;
    border: none;
    color: black;
    padding: 10px 15px;
    border-radius: 6px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

.modifier:hover {
    background-color: #375BFF;
    color: white;
}