.offre-details {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

.offre-description {
    flex: 2;
    background-color: #EFF6FF;
    border-radius: 6px;
    padding: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.offre-description ul {
    margin: 10px 0;
    padding-left: 20px;
    list-style-type: disc;
}

.offre-sidebar {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.profil-recherche {
    background-color: #DBEAFE;
    border-radius: 6px;
    padding: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}


.profil-recherche ul {
    margin: 10px 0;
    padding-left: 20px;
}

.postuler-button {
    display: block;
    width: 100%;
    background-color: #1D4ED8;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
}

.postuler-button:hover {
    background-color: #375BFF;
}

.entreprise-presentation {
    background-color: #EFF6FF;
    border-radius: 6px;
    padding: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 100%;
}

.entreprise-presentation h2 {
    text-align: center;
}

.offre-description h2 {
    gap: 0.5em;
    line-height: 5VW;
    display: flex;
}

.offre-description h3 {
    gap: 0.5em;
    line-height: 30px;
    display: flex;
    margin-bottom: 0;
}

.favorite-icon {
    cursor: pointer;
    margin-left: 10px;
}
.favorite-icon-img {
    width: 24px;
    height: 24px;
    transition: transform 0.2s ease;
}

.favorite-icon-img:hover {
    transform: scale(1.2);
}

.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    cursor: pointer;
    font-size: 2rem;
    color: #ccc;
}   

.rating span:hover,
.rating span:hover ~ span {
    color: #FFD700;
}

.rating span.selected,
.rating span.selected ~ span {
    color: #FFD700;
}
