.recherche {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}
.filter {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: bold;
}
.filter select {
    margin-left: 10px;
    padding: 5px 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 14px;
}
.offres {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.offre-item {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #EFF6FF;
    border-radius: 6px;
    padding: 15px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}
.offre-logo {
    display: flex;
    align-items: center;
}
.company-logo {
    position: absolute; /* Permet de positionner l'élément par rapport à .offre-item */
    bottom: 10px; /* Distance par rapport au bas */
    right: 10px; /* Distance par rapport à la droite */
    width: 5vw; /* Ajustez la taille selon vos besoins */
    height: auto; /* Conserve les proportions de l'image */
    border-radius: 4px; /* Facultatif : ajoute des coins arrondis */
}

/* Nouveaux styles pour les lignes d'information */
.info-line {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 2vh;
}

.info-icon {
    width: 1.5vw;
    height: 1.5vw;
}

.offre-info p {
    margin: 0;
}

.offre-logo {
    width: 10vw;
    height: 10vw;
}

.titre-item {
    color: #000;
    font-family: Poppins;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}